h1, h2, h3, h4, h5, p, li {
  font-family: "Work Sans", sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-size: 0.8rem;
    line-height: 150%;
    
}

nav {
    font-size: 1rem;
}

body {
    box-sizing: border-box;
    margin: 0;
} 

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 24%;
    height: auto;
    margin-left: 10%;
}

.menu {
    margin-right: 6%;
}

header {
    background: #171717;
    color: #ffffff;
    width: 90%;
    display: flex;
    margin-top: 24px;
    padding: 1% 0%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
}

header li {
    list-style-type: none;
    margin: 0 0 0 20px;
    width: auto;
}

.hero {
    width:90%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero_text {
    width: 50%;
}

.hero_image {
    width: 30%;
    margin-left: 10%;
}

.hero_text h1 {
    width:100%;
}

.hero_text p {
    width:100%;
}

.hero_image img {
    width:100%;
    height: auto;
}

.work_experience {
    width: 100%;
    background: #171717;
    padding: 3% 0 3% 0;
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.work_experience img {
    width: 4rem;
    height: auto;
}

.all {
    background-color: #ffffff;
    width: 25%;
    height: 50%;
    border: 2px solid #e9e9e9;
    padding: 2rem 1rem;
    margin: 0 16px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all p {
    margin-top: -0.6rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 8% 5%;
}

.portfolio .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .text p {
    width: 60%;
    text-align: center;
    margin-top: -2px;
}

.portfolio .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio_row_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.project {
    width: 27%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 40px rgba(140, 140, 140, 0.4);
}

.pro2, .pro3 {
    margin-left: 3%;
}


.project img {
    width: 100%;
    height: auto;
}

button {
    background: #ffffff;
    border: 1px solid #171717;
    padding: 14px;
    border-radius: 8px;
}

.project .portfolio_info {
    padding: 8px 16px 16px 16px;
}

.skills {
    background: #F0F1F3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;  
    padding:5% 5%;
    box-sizing: border-box;
}

.skills .skills_text {
    width: 40%;
}

.skills .skills_box {
    width: 40%;
    margin-left: 10%;
}

.box {
    border-left: 2px solid #A53DFF;
    background: #ffffff;
    padding: 1% 3%;
    margin-top: 1rem;
}